@font-face {
    font-family: 'butlerlight';
    src: url('Font/butler_light-webfont.woff2') format('woff2'),
         url('Font/butler_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    font-family: 'Playfair Display', serif;
    color: rgba(0,0,0,0.99);
    opacity: 0.9;
    padding: 20px;
    }

.header {
    color: darkgreen;
    background-color: hsla(164, 8%, 92%, 0.99);
    padding: inherit;
    text-align: center;
        }

h1, h2, h3 {
    font-family: monospace;
            }

h1 {
    font-family: "Times New Roman", sans-serif;
    font-size: 300%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    }

h2 {
    font-family: 'butlerlight'
    font-size: 32px;
    color: #0D3027;
    word-spacing: .1em;
    }

h3 {
    font-size: 2em;
    color: #0D3027;
    }

p {
    line-height: 1.4em
    text-align: justify;
    text-indent: 20px;
    }

a:link {
    color: #367E6C;
    text-decoration: none;
        }

a:visited {
    color: #4A8375;
        }

a:hover {
    color: #669E90;
    text-decoration: underline;
        }

a:active {
    color: #669E90;
        }

p:first-letter {
    font-size: 200%
                }