body {
    font-family: 'Playfair Display', serif;
    color: rgba(0,0,0,0.99);
    opacity: 0.9;
    padding: 20px;
    }

.header {
    color: #FFFFFF;
    background-color: #C4C4C4;
    padding: inherit;
    text-align: center;
        }





/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}






.css-slideshow{
   position: relative;
   max-width: 1000px;
   height: 1000px;
   margin: 5em auto .5em auto;
}
.css-slideshow figure{
   margin: 0;
   position: absolute;
}
.css-slideshow figcaption{
   position: absolute;
   top: 0;
   color: #fff;
   background: rgba(0,0,0, .3);
   font-size: .8em;
   padding: 8px 12px;
   opacity: 0;
   transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
   transition: opacity .5s;
   opacity: 1;
}
.css-slideshow figure{
   opacity:0;
}

figure:nth-child(1) {
   animation: xfade 24s 24s infinite;
}
figure:nth-child(2) {
   animation: xfade 24s 18s infinite;
}
figure:nth-child(3) {
   animation: xfade 24s 12s infinite;
}
figure:nth-child(4) {
   animation: xfade 24s 6s infinite;
}
figure:nth-child(5) {
   animation: xfade 24s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


h1 {
    font-family: "Times New Roman", sans-serif;
    font-size: 300%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    }

h2 {
    font-family: "Times New Roman"
    font-size: 32px;
    color: #18444D;
    word-spacing: .1em;
    }

h3 {
    font-size: 2em;
    color: #165663;
    }

p {
    line-height: 1.4em
    text-align: justify;
    text-indent: 20px;
    }

a:link {
    color: #7B8283;
    text-decoration: none;
        }

a:visited {
    color: #525454;
        }

a:hover {
    color: #8CA9A9;
    text-decoration: underline;
        }

a:active {
    color: #161717;
        }